.balancedetails-container {
  background-color: rgb(226, 221, 221);
  min-width: 60vh;
  min-height: 40vh;
  border-radius: 7px;
}

.income-container {
  background-color: rgb(39, 109, 39);
  color: white;
  min-height: 2rem;
  padding: 6px;
  margin: 10px;
  width: 50vh;
  
}

.expense-container {
  background-color: rgb(148, 38, 38);
  color: white;
  min-height: 2rem;
  padding: 6px;
  margin: 10px;
  width: 50vh;
}
