@import url("./components/transactionmodal/transactionmodal.css");
@import url("./components/balancedetails/balancedetails.css");
/* root properties */
:root {
  --primary-color: ;
  --border-color: rgb(22, 4, 4);
  --hover-color: #3a4750;
  --shadow-color: rgb(131, 131, 131);
}

/* css reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* utility css */
.d-flex {
  display: flex;
}

.dir-col {
  flex-direction: column;
}

.dir-row {
  flex-direction: row;
}

.justify-center {
  justify-content: center;
}

.items-center {
  align-items: center;
}

.justify-space {
  justify-content: space-between;
}

.gap-m {
  gap: 2rem;
}

.gap-s {
  gap: 1rem;
}

.gap-l {
  gap: 4rem;
}

.pointer {
  cursor: pointer;
}

.text-col {
  color: var(--primary-color);
}

.text-bg-col {
  color: var(--secondary-color);
}

.bg-col {
  background-color: var(--secondary-color);
}

.border {
  border: 2px solid #ccc;
}

.shadow {
  box-shadow: 1px 4px 2px var(--shadow-color);
}

.text-s {
  font-size: 1.2rem;
}

.text-m {
  font-size: 2rem;
}

.text-l {
  font-size: 2.8rem;
}

.padding-s {
  padding: 0.8rem;
}

.padding-m {
  padding: 3.2rem;
}

.padding-l {
  padding: 5rem;
}

.text-center {
  text-align: center;
}

.bold {
  font-weight: bolder;
}
.round {
  border-radius: 5px;
}
